:root{
  
 --primary-orange: #eb9e44


}
:root{
 --primary-tea: #c6d1d1

}

* { 
 
 
  }

.body{

 background-color: #c6d1d1 ;
 

}
/******************* NavBar *****************************/
.greenColor {

  background-color: #718e8c;

 }
 .navbar-nav > li > a {

color: black !important;

 }
 
 .logo{
  
  max-width: 35%;
   height: auto;

 }

 .navbar-nav ul >  li > a.active  {
 border-bottom: 0.1875rem solid var(--primary-orange);
 margin: 20px;

 }

 

 /****************  Cards   ********************/
  .allCard{

  background-color: #c6d1d1  ;
  
 
  }

  


 
.padding{
  
  padding: 0.025rem;

}
/*********  About section       ************/
.sec{

  border-top: 0.1875rem solid var(--primary-orange);
  margin-bottom:20rem ;



}
.size-font{
  font-size: 9rem;
  font-family: 'IBM Plex Sans';
  color: #3F5654;
  margin-top: 5%;

}

 /***************** footer  **********************/

 .img-contact{
  height: 60px;
  padding: 0.2rem;

 }
 .box{
    
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 8rem;

 }


 /* smell screen  */

 @media  (max-width: 800px) {
  .navbar{
   width: 100%;
  }
  .size-font{
    font-size: 50px !important;
  }
  .small-font{
  font-size: 20px !important;
  padding-top: 2%;
 }
 .sec{
  margin-bottom: -1px !important;
 }
 .card-group{
  width: 100% !important;
display:contents;
 }

 .footer{
  padding-top: 30px;

 }
 .box{
  margin-top: -2px;
 }

 .navbar-brand{
  display: flex;
  justify-content: center;
  margin-top: 10%;
 
 }
 .logo{
  width: 150rem !important; 
 }

 .nav-item{
  display: none !important;
 
 }
}